/* Navbar layout */
.navbar-left{
    padding: 0.7% 0 0.5% 0;
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/cryptovationx/public/pinbg.jpg");
}
.navbar-middle{
    padding: 1.66% 0 0 0;
    display: block;    
}
.navbar-middle-special{
    padding: 1.66% 0 0 0;
    display: block;    
}
.navbar-right{
    padding: 1.2% 0 1.2% 0;
    display: block;    
}
/* Navbar font */
.nav-font{
    color:  black;
    background-color: transparent;
    transition: 0.3s;
}
.nav-font:hover{
    color: white;
    background-color:#f7941d;
    padding: 5px 10px;
    text-decoration: none;
}

/* Navbar logo */
.nav-pic{
    height: 40px;
    width: 200px;
    margin-left: 19%;
}

/* Side Navbar */
.sidenav {
    height: 100%;
    width: 94.8%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: ghostwhite;
    padding-top: 20px;
    color: black;
    border-right: 1px solid #e6e6e6;
    overflow-x: scroll;
    cursor: pointer;
}

.sidenav a, .dropdown_sidenav {
    padding: 5% 0 5% 20%;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 14px;
    transition: 0.3s;
}

.username{
    font-size: 12px;
    padding: 0 0 2% 0;
    text-decoration: none;
    color: #d9d9d9;
    display: block;
}

.sidenav a:hover {
    color:white;
    background-color: #3399ff;
}
.dropdown_sidenav:hover{
    color:white;
    background-color: #3399ff;
}
.dropdown_container {
    display: none;
}
.dropdown_container a {
    font-size: 12px;  
}
.dropdown_container a:hover{
    color:white;
    background-color: #3399ff;
}
.active {
    background-color: #3399ff;
    color: white !important;
    opacity: 0.6;    
}
/* Ham */
.hambtn {
    color: black;
    padding: 2px 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.hambtn:hover, .hambtn:focus {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hamdropdown {
    position: relative;
    display: none;
}

.hamdropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.hamdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.hamline {
    width: 20px;
    height: 1px;
    background-color: black;
    margin: 5px 0;
}

.hamdropdown a:hover {background-color: #3399ff;}
.show {display: block;}

@media screen and (max-width: 1100px) {
    .nav-pic{
        height: 25px;
        width: 136px;
        margin: 6px 20px 4px 45px;
    }
    
}
@media screen and (max-width: 800px) {
    .sidenav{
        width: 165px;
    }
    .nav-pic{
        height: 20px;
        width: 110px;
        margin: 6px 20px 4px 50px;
    }
    .col-3{
        max-width: 500px;
    }
    
}

@media screen and (max-width: 600px) {
    .sidenav{
        display: none;
    }
    .sidenav a{
        font-size: 6px;
    }
    .nav-font{
       padding-left: 10px;
    }
    .nav-pic{
        height: 10px;
        width: 50px;
        margin: 4px 35px;
    }
    
    .username{
        font-size: 8px;
    }
    .dropdown_sidenav {
        font-size: 8px;
        padding: 12px 16px;
    }
    .col-1{
        display: none;
    }
    .col-3{
        display: none;
    }
    .col-9{
        flex: 100% 0 0;
        max-width: 700px;
        right: 0;
    }
    .hamdropdown-content a{
        font-size: 8px;
    }
}
@media screen and (max-width: 450px) {
    .hamdropdown {
        display: inline-block;
        position: relative;
        left: 308px;
    }
}
@media screen and (max-width: 400px) {
    .hamdropdown {
        display: inline-block;
        position: relative;
        left: 270px;
    }
}

@media screen and (max-width: 340px) {
    .hamdropdown {
        display: inline-block;
        position: relative;
        left: 240px;
    }
}